@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Orbitron:wght@700&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=El+Messiri:wght@600&family=Monoton&family=Orbitron:wght@700&family=Playfair+Display:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(120, 153, 182);
}

h2 {
  text-align: center;
  font-size: 1.9rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 2.5px;
  background-color: black;
  color: rgb(245, 229, 7);
  width: 100%;
  padding: 6px;
}

.cards {
  width: 100%;
  height: auto;

  /* background-color: aqua; */
}
.card:hover {
  box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05);
}

.card {
  width: 25%;
  float: left;
  margin: 4%;
  background: #004cff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(26, 88, 233, 0.2);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0, 1);
}
.card .card_img {
  width: 100%;
  height: 225px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}
.card_info {
  font-family: "Blinker", sans-serif;
  font-family: "Playfair Display", serif;
  background-color: #ddddddf7;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 20px;
  border-radius: 2%;
}
.card_category {
  background: none !important;
  background-color: blue;
  color: rgb(241, 13, 13);
  font-size: 1.1rem;
  font-family: "Blinker", sans-serif;
  font-family: "El Messiri", sans-serif;
  font-family: "Monoton", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Playfair Display", serif;
}
.card_title {
  /* background-color: rgb(21, 21, 27); */
  background: none;
  color: rgb(136, 14, 236);
  font-size: 1.5rem;
  margin-top: 6px;
  font-weight: bolder;
}
button {
  font-family: "Orbitron", sans-serif;
  margin-top: 10px;
  height: 30px;
  width: 111px;
  background-color: rgb(240, 33, 33);
  color: rgb(248, 248, 248);
  font-size: 0.9rem;
  cursor: pointer;
}
button:hover {
  background-color: black;
}

@media screen and (max-width: 781px) {
  .card {
    width: 34%;
    margin: 7%;
  }
  .card .card_img {
    width: 100%;
    height: 212px;
  }
}
@media screen and (max-width: 581px) {
  .card {
    width: 42%;
    margin: 4%;
    margin-top: 40px;
  }
  .card .card_img {
    width: 100%;
    height: 173px;
  }
  h2 {
    background-color: white;
    color: black;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 486px) {
  .card {
    width: 88%;
    margin: 6%;
  }
}
